#rotateWarning {
  display: none;
  inset: 0;
  min-width: 100dvw;
  max-width: 480px;
  min-height: 100dvh;
  max-height: 720px;
  background-color: black;
  background-image: url("../imgs/5_background/mobile-rotate-bright.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  z-index: 30;
}

body.is-portrait #rotateWarning {
  display: flex;
}

body.is-portrait #canvas {
  display: none;
}

body.is-portrait #cancelScreen {
  display: none;
}

body.is-portrait #startScreen {
  display: none;
}

body.is-portrait #mobileControls {
  display: none !important;
}

.rotate-warning {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.rotate-warning-container-logo-txt {
  width: 100%;
  font-family: "Zabras";
  font-size: 4rem;
  color: #f3a71a;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3rem;
  padding: 1rem;
}

.rotate-txt {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
