.overlay-content-rules {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  min-width: 100dvw;
  max-width: 720px;
  min-height: 100dvh;
  max-height: 480px;
  margin: 0;
  z-index: 40;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../imgs/5_background/mex skulls.jpg");
}

.background-container-transparency-rules {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: c;
  width: 99%;
  height: 99%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 3rem;
}

.header-container-rules {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 600px;
  padding: 0.5rem 1rem;
  margin: 0;
}

.header-rules {
  font-family: "zabras";
  font-size: 4rem;
  color: #ffd000;
  font-weight: 200;
  text-shadow: 2px 2px 2px black;
  border-radius: 3rem;
}

.rules-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: normal;
  word-break: keep-all;
  hyphens: auto;
  text-align: left;
}

.rules-content-txt-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
  word-break: keep-all;
  hyphens: auto;
  text-align: left;
}

.rules-content-txt-container {
  width: 100%;
  padding: 0;
  font-weight: 400;
  font-size: 1.5rem;
  font-family: "Helvetica";
  color: #00c3ff;
  text-shadow: 2px 2px 2px black;
  margin: 0;
  padding: 1rem;
}

.rules-txt {
  width: 100%;
  max-width: 300px;
  text-align: start;
  font-size: 1.1rem;
  margin: 0;
  padding: 0 0 0.3rem 0;
  font-weight: 400;
  font-family: "Helvetica";
  color: #00c3ff;
  text-shadow: 2px 2px 2px black;
}

.rules-content-txt::-webkit-scrollbar {
  display: none;
}

.rules-menu-btn-container-alignement {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 30%;
}

.rules-menu-button-rules-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 2.5rem;
  font-family: "Helvetica";
  font-size: 18px;
  font-weight: bold;
  background: #f7c25f;
  color: black;
  cursor: pointer;
  transition: background 0.3s;
  padding: 1rem;
}

.rules-menu-button-rules-close:hover {
  background: #ffaa00;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  transform-style: preserve-3d;
  perspective: 1000px;
}
