.overlay-content-impressum {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 100dvw;
  max-width: 720px;
  min-height: 100dvh;
  max-height: 480px;
  margin: 0;
  z-index: 40;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../imgs/5_background/mexican-pyramide-night.jpg");
}

.background-container-transparency-impressum {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100dvw;
  max-width: 720px;
  min-height: 100dvh;
  max-height: 480px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3rem;
  overflow: hidden;
}

.header-container-impressum {
  display: flex;
  width: 100%;
  max-width: 600px;
  padding: 0.5rem 1rem;
  margin: 0;
}

.header-impressum-txt {
  width: 100%;
  display: flex;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overscroll-behavior: contain;
  justify-content: center;
  text-align: center;
  font-size: 4rem;
  font-weight: 200;
  color: #ffd000;
}

.impressum-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  flex: 1;
  overflow: hidden;
  min-height: 0;
}

.impressum-content-txt {
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 5rem;
}

.impressum-content-txt::-webkit-scrollbar {
  display: none;
}

.impressum-headlines {
  padding: 0;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-weight: bold;
  font-family: "Helvetica";
  color: #00c3ff;
  text-shadow: 2px 2px 2px black;
}

.impressum-txt {
  width: 100%;
  max-width: 550px;
  text-align: start;
  font-size: 1rem;
  margin: 0;
  padding: 0 0 0.3rem 0;
  font-weight: 400;
  font-family: "Helvetica";
  color: #00c3ff;
  text-shadow: 2px 2px 2px black;
}

.impressum-menu-btn-container-alignement {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 30%;
}

.impressum-menu-button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 2.5rem;
  font-family: "Helvetica";
  font-size: 18px;
  font-weight: bold;
  background: #f7c25f;
  color: black;
  cursor: pointer;
  transition: background 0.3s;
  margin: 1rem;
}

.impressum-menu-button-close:hover {
  background: #ffaa00;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  transform-style: preserve-3d;
  perspective: 1000px;
}
